RewriteEngine on

# Serve index.html by default in root and subdirectories
DirectoryIndex index.html

# Allow direct access to sitemap.xml
RewriteRule ^sitemap\.xml$ - [L]

# Redirect to the correct .html file if it exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# Ensure that URLs without file extensions work for subdirectories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ $1/index.html [L]
